@import "reset";

body {
  font-family: sans-serif;
  padding-bottom: 48px;
}

.section {
  width: calc(100% - 48px);
  margin: 0 auto;
  max-width: 600px;
  padding-top: 48px;
}

.avatar {
  border-radius: 12px;
  width: 160px;
  height: 160px;
  object-fit: cover;
}

.first {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
}

.text-block {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.brief {
  max-width: 360px;
}

.section-title {
  padding-bottom: 12px;
}

.profile-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.core-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.tech-group {
  border-bottom: 1px solid #000;
  padding: 24px 0 8px;

  &:first-of-type {
    padding-top: 0;
  }
}

.tech-title {
  padding-bottom: 12px;
}

.badges {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}
